<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900458576858-sg1mf1js31u1e1oan0vqim03lmukv0bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900458576858-sg1mf1js31u1e1oan0vqim03lmukv0bo</string>
	<key>API_KEY</key>
	<string>AIzaSyDU-Mpw5UpNxPdHr09YvoKNHz8L2mpquVM</string>
	<key>GCM_SENDER_ID</key>
	<string>900458576858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instanceofjosh.HarryPotter</string>
	<key>PROJECT_ID</key>
	<string>hpfirebase-ab833</string>
	<key>STORAGE_BUCKET</key>
	<string>hpfirebase-ab833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900458576858:ios:e2c2dacc68e189af249ee3</string>
</dict>
</plist>